# Object files
*.o

# Executables and Binaries
bin/
# ... BUT track this specific file!
!bin/dj_config.txt

dj_manager

# Debug files (if you have them)
*.dSYM/

# IDE settings (optional, but good practice)
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db